{deps, [
    {cowboy, "2.14.2"},
    {epgsql, "4.8.0"},
    {pooler, "1.6.0"},
    {eqwalizer_support, {
        git_subdir,
        "https://github.com/whatsapp/eqwalizer.git",
        {branch, "main"},
        "eqwalizer_support"
    }}
]}.

% TODO: Remove overrides once this is resolved: https://github.com/erlang/rebar3/issues/2364
{overrides, [
    {override, cowboy, [
        {deps, [
            {cowlib, "2.16.0"},
            {ranch, "2.2.0"}
        ]}
    ]}
]}.

{relx, [
    {release, {hello_world, "1.0.0"}, [
        hello_world,
        sasl,
        runtime_tools
    ]},
    {vm_args, "./config/vm.args"},
    {sys_config, "config/sys.config"}
]}.

{project_plugins, [
    erlfmt
]}.

{erlfmt, [
    write
]}.

{dialyzer, [
    {plt_extra_apps, []},
    {plt_apps, all_deps},
    {warnings, [
        extra_return, missing_return, unmatched_returns
    ]}
]}.
