[
    {hello_world, [
        {listen_port, 8080},
        %% NOTE:
        %%   If size of db testpool is too big (e.g: 5000),
        %%   it will fail travis ci test. So I shrink this to 256.
        %%   blee@techempower.com
        {db_pool_init_count, 256},
        {db_pool_max_count, 256},
        {db_conn_opts, #{
            host => "tfb-database",
            username => "benchmarkdbuser",
            password => "benchmarkdbpass",
            database => "hello_world",
            port => 5432
        }}
    ]}
].
